@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;800&display=swap");
* {
  font-family: "Mulish", sans-serif;
}
body {
  max-width: 1920px;
  margin: 0px auto;
  padding: 0px 100px;
  box-sizing: border-box;
}
.button-primary {
  width: 180px;
  height: 52px;
  text-align: center;
  font-size: 1.2rem;
  color: #ffffff;
  background-color: #ff5400;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
.logo {
  display: flex;
  width: 100%;
  margin: 10px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}
#logo-part {
  color: #ff5400;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
  padding: 10px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
}
.nav-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #424247;
  text-decoration: none;
  transition: 0.5s;
}

nav ul li {
  list-style: none;
  margin: 0 20px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
}

nav ul li a {
  text-decoration: none;
  color: #424242;
}

nav ul li a:hover {
  color: #ff5400;
  font-weight: 800;
}

.nav-title:hover {
  color: #ff5400;
  font-weight: 800;
}
/* banner section */
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  flex-shrink: 0;
  border-radius: 16px;
  background-image: url("../Images/banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.banner-title {
  margin-bottom: 24px;
  font-size: 4rem;
  font-weight: 800;
  color: #ffff;
  text-decoration: none;
  transition: 0.5s;
}
.banner-description {
  max-width: 676px;
  margin-bottom: 48px;
  margin-top: 0px;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: #ffff;
  text-decoration: none;
  transition: 0.5s;
}
.travel-info {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 20px;
}
.input-box {
  border-radius: 10px;
  width: 174px;
  height: 52px;
  border: none !important;
  color: rgba(19, 19, 24, 0.5);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* popular-tour-section*/

.popular-tour-section {
  margin: 100px auto !important;
  display: flex;
  justify-content: space-between;
  gap: 45px;
  width: 100%;
}
.title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131318;
  text-decoration: none;
  transition: 0.5s;
}
.description {
  margin-bottom: 48px;
  margin-top: 0px;
  font-size: 1.5rem;
  font-weight: 500;
  color: rgba(19, 19, 24, 0.7);
  text-decoration: none;
  transition: 0.5s;
}
#tour-image {
  width: 540px;
  height: 550px;
  flex-shrink: 0;
}
/* Your Destination */

.gallery-section {
  margin: 100px auto !important;
  text-align: center;
  width: 100%;
}
.gallery-item img {
  width: 100%;
  height: 100%;
}
.images-title {
  color: #ffffff;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gallery-item {
  position: relative;
}
.row {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px !important;
}

.images-title:hover {
  color: #ff5400;
  font-size: 2rem;
  font-weight: 800;
  transition: 0.5s;
  translate: 0.8s;
  cursor: pointer;
  text-decoration: none;
  text-decoration-color: #ff5400;
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

/* Why Choose Us */

.card-section {
  margin: 100px auto;
  text-align: center;
  width: 100%;
}
.card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  margin-bottom: 20px !important;
}
.card-1 {
  width: 45%;
  height: 284px;
  text-align: left;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff0df;
  padding: 20px;
  transition: 0.5s;
  cursor: grab;
}

.card-2 {
  width: 45%;
  height: 284px;
  text-align: left;
  flex-shrink: 0;
  border-radius: 10px;
  background: #e0f9ff;
  padding: 20px;
  transition: 0.5s;
  cursor: grab;
}

.card-3 {
  width: 50%;
  height: 284px;
  text-align: left;
  flex-shrink: 0;
  border-radius: 10px;
  background: #ffe5e5;
  padding: 20px;
  transition: 0.5s;
  cursor: grab;
}

/* small screen */

@media screen and (max-width: 600px) {
  body {
    margin: 0px 20px;
    padding: 0px 20px;
  }
  .header {
    padding: 0;
    margin: 0%;
  }
  .logo {
    margin: 0;
  }
  nav ul {
    display: none;
  }
  nav {
    padding: 20px;
    background-image: url(../Images/bars-solid.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
  .banner-title {
    font-size: 2rem;
  }
  .travel-info {
    display: flex;
    width: 350px;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  .input-box {
    width: 100%;
  }
  .button-primary {
    width: 100%;
  }
  .popular-tour-section {
    margin: 25px auto !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title {
    font-size: 1.5rem;
    margin-bottom: 16px;
  }
  .description {
    font-size: 1rem;
    margin-bottom: 16px;
    margin-top: 0px;
    max-width: 100%;
  }
  #tour-image {
    width: 100%;
  }
  .row {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px !important;
    justify-content: center;
  }
  .gallery-item img {
    width: 100%;
    height: 272px !important;
  }
}
/* tab screen */

/* @media screen and (min-width: 600px) and (max-width: 992px) {
  body {
    margin: 0px 80px;
  }
  nav > ul > li {
    margin: 0 5px;
  }
  .banner {
    height: 300px;
  }
  .banner-title {
    font-size: 2rem;
  }
  .banner-description {
    font-size: 1rem;
  }
  .travel-info {
    padding: 10px 5px;
  }
} */
