@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;800&display=swap");
* {
  font-family: "Mulish", sans-serif;
}
.wrapper {
  max-width: 1920px;
  margin: 0px auto;
  padding: 0px 100px;
  box-sizing: border-box;
}
/* main {
  max-width: 1920px;
  margin: 0px auto;
  padding: 0px 100px;
  box-sizing: border-box;
} */

.button-primary {
  width: 180px;
  height: 52px;
  text-align: center;
  font-size: 1.2rem;
  color: #ffffff;
  background-color: #ff5400;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
.logo {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}
#logo-part {
  color: #ff5400;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* width: 100%; */
  /* max-width: 1920px;
  margin: 0px auto;
  padding: 0px 100px;
  box-sizing: border-box; */
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
}
.nav-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #424247;
  text-decoration: none;
  transition: 0.5s;
}

nav ul li {
  list-style: none;
  margin: 0 20px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
}

nav ul li a {
  text-decoration: none;
  color: #424242;
}

nav ul li a:hover {
  color: #ff5400;
  font-weight: 800;
}

.nav-title:hover {
  color: #ff5400;
  font-weight: 800;
}
/* banner section */
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  flex-shrink: 0;
  border-radius: 16px;
  background-image: url("../Images/banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.fa-solid {
  padding: 0 15px 0px 0px;
}
.banner-title {
  margin-bottom: 24px;
  font-size: 4rem;
  font-weight: 800;
  color: #ffff;
  text-decoration: none;
  transition: 0.5s;
}
.banner-description {
  max-width: 676px;
  margin-bottom: 48px;
  margin-top: 0px;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: #ffff;
  text-decoration: none;
  transition: 0.5s;
}
.travel-info {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 20px;
}
.input-box {
  padding: 10px 56px;
  margin: 20px 22px;
  border-radius: 10px;
  width: 174px;
  height: 52px;
  border: none !important;
  color: rgba(19, 19, 24, 0.5);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* popular-tour-section*/

.popular-tour-section {
  margin: 100px auto !important;
  display: flex;
  justify-content: space-between;
  gap: 45px;
  width: 100%;
}
.title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131318;
  text-decoration: none;
  transition: 0.5s;
}
.description {
  margin-bottom: 48px;
  margin-top: 0px;
  font-size: 1.5rem;
  font-weight: 500;
  color: rgba(19, 19, 24, 0.7);
  text-decoration: none;
  transition: 0.5s;
}
#tour-image {
  width: 540px;
  height: 550px;
  flex-shrink: 0;
}
/* Your Destination */

.gallery-section {
  margin: 100px auto !important;
  text-align: center;
  width: 100%;
}
.gallery-item img {
  width: 100%;
  height: 100%;
}
.images-title {
  color: #ffffff;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gallery-item {
  position: relative;
}
.row {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px !important;
}

.images-title:hover {
  color: #ff5400;
  font-size: 2rem;
  font-weight: 800;
  transition: 0.5s;
  translate: 0.8s;
  cursor: pointer;
  text-decoration: none;
  text-decoration-color: #ff5400;
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

/* Why Choose Us */

.card-section {
  margin: 100px auto;
  text-align: center;
  width: 100%;
}
.card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  margin-bottom: 20px !important;
}
.card-1 {
  width: 45%;
  height: 284px;
  text-align: left;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff0df;
  padding: 20px;
  transition: 0.5s;
  cursor: grab;
}

.card-2 {
  width: 45%;
  height: 284px;
  text-align: left;
  flex-shrink: 0;
  border-radius: 10px;
  background: #e0f9ff;
  padding: 20px;
  transition: 0.5s;
  cursor: grab;
}

.card-3 {
  width: 50%;
  height: 284px;
  text-align: left;
  flex-shrink: 0;
  border-radius: 10px;
  background: #ffe5e5;
  padding: 20px;
  transition: 0.5s;
  cursor: grab;
}
/* deals */

.deals-section {
  margin: 100px auto;
  text-align: center;
  width: 100%;
}
.all-cards-info {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.short-info {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.icon {
  color: #ff5400;
}
.price {
  color: #ff5400;
}
.deals {
  width: 100%;
  height: 500px;
  flex-shrink: 0;
  border-radius: 16px;
  background-image: url("../Images/deal-2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.deals-card {
  position: absolute;
  top: 75px;
  right: 65px;
  width: 579px;
  padding: 50px;
  text-align: left;
  flex-shrink: 0;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
}
.diffrent {
  right: 5px;
  left: 65px;
}
/* newsletter */

.newsletter {
  margin: 100px auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}
.newsletter-from {
  border: 1px solid #ff5400;
  border-radius: 10px;
  padding: 20px;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.newsletter-img {
  position: relative;
  width: 60%;
}
.newsletter-img img {
  width: 100%;
  height: 100%;
}
.inputbox {
  border-radius: 10px;
  /* width: 174px;*/
  height: 52px;
  padding: 20px;
  border: none !important;
  background-color: #e3e3e3;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.news-title {
  margin-bottom: 20px;
  margin-top: 10px;
}
.news-button {
  width: 100%;
  height: 72px;
  font-size: 1.5rem;
  font-weight: 800;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}
.news-discount {
  position: absolute;
  font-size: 1.2rem;
  font-weight: 400;
  right: 11px;
  bottom: 86px;
  width: 324px;
  height: 120px;
  transform: rotate(326deg);
}
.save {
  font-size: 1.8rem;
  font-weight: 800;
}
/* footer style */

.footer {
  /* max-width: 1920px;
  margin: 0px auto;
  padding: 0px 100px;
  box-sizing: border-box; */
  background: #c7c7c7;
  padding-top: 50px;
  text-align: center;
  padding-bottom: 100px;
}
.footer-info {
  margin: 20px 306px;
}
.footer-logo {
  justify-content: center;
}
.social {
  margin-right: 10px;
}
.line {
  margin: 20px auto;
  width: 1320px;
  height: 1.5px;
  background: rgba(255, 255, 255, 0.15);
}
.footer-title {
  font-size: 0.8rem;
  font-weight: 600;
  color: #131318;
  text-decoration: none;
  transition: 0.5s;
}
.fa-brands {
  font-size: 25px;
}
/* small screen */

@media screen and (max-width: 600px) {
  .wrapper {
    margin: 0px 20px;
    padding: 0px 20px;
  }
  .footer {
    margin: 0px;
    padding: 0px;
  }
  .header {
    padding: 0;
    margin: 0%;
  }
  .logo {
    margin: 0;
    padding: 10px 6px;
    align-items: center;
  }
  .logo img {
    width: 50px;
    height: 50px;
  }
  nav ul {
    display: none;
  }
  nav {
    padding: 20px;
    background-image: url(../Images/bars-solid.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
  .banner-title {
    font-size: 2rem;
  }
  .travel-info {
    display: flex;
    width: 350px;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  .input-box {
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
  }
  .button-primary {
    width: 100%;
  }
  .popular-tour-section {
    margin: 25px auto !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title {
    font-size: 1.5rem;
    margin-bottom: 16px;
  }
  .description {
    font-size: 1rem;
    margin-bottom: 16px;
    margin-top: 0px;
    max-width: 100%;
  }
  #tour-image {
    width: 100%;
  }
  .row {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px !important;
    justify-content: center;
  }
  .gallery-item img {
    width: 100%;
    height: 272px !important;
  }
  .card-row {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px !important;
  }
  .card-1 {
    width: auto;
  }
  .card-2 {
    width: auto;
  }
  .card-3 {
    width: auto;
  }
  .deals-card {
    align-items: center;
    left: 16px;
    right: 16px;
    top: 150px;
    padding: 30px;
    width: 80%;
  }
  .newsletter {
    margin: 56px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
  }
  .newsletter-from {
    width: auto !important;
  }
  .newsletter-img {
    width: 100% !important;
  }
  .news-discount {
    width: auto !important;
    height: 89px;
  }
  .footer-info {
    margin: 20px 40px;
  }
}
/* tab screen */

/* @media screen and (min-width: 600px) and (max-width: 992px) {
  body {
    margin: 0px 80px;
  }
  nav > ul > li {
    margin: 0 5px;
  }
  .banner {
    height: 300px;
  }
  .banner-title {
    font-size: 2rem;
  }
  .banner-description {
    font-size: 1rem;
  }
  .travel-info {
    padding: 10px 5px;
  }
} */
